*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


/*   ====================
        BSAIC SET UP 
========================= */ 

h1{
    font-size: 60px;
    font-weight: 600;
    color: #069C48;
}

h2{
    font-size:40px;
    font-weight: 600;
}
h5{
    color: #069C48;
}


.navbar{
    background: #fff;
    
    a{
        color: #919191;
    }
    .navbar-brand{
        font-size: 28px;
    }
    #logo:hover{
        color: #069c06!important;
    }
    ul li {
        margin: 0 15px;

    }
    ul li a{
        font-size: 18px;
        transition: 0.4s;
        font-weight: 600;
    }
    ul li a:hover{
        color: #069C48;
    }
}

/* ====================
    START HERO SECTION
======================*/
#hero{
    .btn{
        background: #069C48;
        color: #ffff;
        font-size: 18px;
        font-weight: 600;
        border-radius: 6px;
        padding: 12px 18px;
        transition: 0.5s;
    }
    .btn:hover{
        background: #028452;
    }
    img{
        max-width: 85%;
    }
}

/* ====================
    START ABOUT SECTION
======================*/
#about{
    h4{
        color: #069C48;
        margin-bottom: 25px;
    }

    img{
        max-width: 70%;
    }

    .about-btn{
        background: #069C48;
        color: #fff;
        font-size: 18px;
        padding: 12px 18px;
    }
    
}

/* ====================
    START SERVICE SECTION
======================*/
#service{
    .service-img{
        width: 100px;
        margin: auto;
        margin-bottom: -50px;
    }
    .service-des{
        margin-bottom: -35px;
    }
}